<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- BluetoothLE (BLE) -->
    <!-- Android Q (28) or later must have ACCESS_FINE_LOCATION -->
    <!-- Always include this permission -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Needed for <= Build.VERSION_CODES#R (30) (only needed in Manifest) -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Needed for >= Build.VERSION_CODES#S (31) (must be requested) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- TODO: clarify what specifically requires the permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.NFC" />

    <!--When targeting Android 13 and higher, posting permissions requires holding-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Wi-Fi Scan -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_tether"
        android:roundIcon="@mipmap/ic_tether_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tether"
        android:name=".TetherApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mt" />
            </intent-filter>
        </activity>
    </application>

</manifest>